.player {
  height: 100%;
  overflow: hidden;
  transition: 200ms ease-in-out;
  border: 3px solid #006aff;
  border-radius: 1rem;
  z-index: 1;
}

.waveform-container {
  height: 100%;
}

.collapsed {
  height: 0px;
}

.song-details {
  position: absolute;
  top: 0;
  color: white;
  background: black;
  padding: 1rem;
  z-index: 10;
}
