<div class="view flex flex-col padding gap-2">
  <div
    class="component flex flex-col gap-2 players-wrapper"
    [ngClass]="playingSongs.length === 0 ? 'collapsed' : ''"
  >
    @for(song of playingSongs; track song;) {
    <app-audio-player
      class="player"
      [song]="song"
      [class.collapsed]="song.isCollapsed"
    ></app-audio-player>
    }
  </div>
  <app-playlist class="component flex flex-col flex-auto zzz"></app-playlist>
  <div class="flex flex-row zzz">
    @if(playlistState !== 'playing') {
    <button (click)="onPlay()">Play</button>
    } @else if(playlistState === 'playing') {
    <button (click)="onPause()">Pause</button>
    }
    <button (click)="onStop()">Stop</button>
  </div>
</div>
