/* Variables */

:root {
  --primary-color: #5451f5;
  --emphasis-color: #2b28ff;
  --text-color: #ffffff;
  --bg: linear-gradient(to bottom, #3f4c81, #001041);
  --highlight-bg: #001041;
  --border-color: rgba(255, 255, 255, 0.3);
}

/* Global Styles */

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  color: var(--text-color);
}

body {
  background: var(--bg);
}

* {
  box-sizing: border-box;
}

.view {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.component {
  position: relative;
}

/* Layout */

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-auto {
  flex: 1 1 auto;
}

.flex-centered {
  align-items: center;
  justify-content: center;
}

/* Debug */

.zzz {
  border: 1px solid red;
}
