/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  box-sizing: border-box;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-stretch {
  flex: 1 1 auto;
}

.flex-gap {
  gap: 1rem;
}

.zzz {
  border: 1px solid red;
}